<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="aaDac , AADAC news , Africa and Africa Diaspora Artists Community"/>
    <title>${fields.title} - aaDAC News</title>
    <meta name="description" content="${fields.description}"/>

    <!--social media tags-->
    <meta name="og:title" content="${fields.title} - aaDAC News" />
    <meta name="og:description" content="${fields.description}" />
    <meta name="og:image" content="${req.headers.origin}/${files.cover_photo.originalFilename}" />
    <meta name="og:url" content="${req.headers.origin}/news/${fields.title.trim()}" />
    <meta property="twitter:card" content="${req.headers.origin}/${files.cover_photo.originalFilename}">
    <meta property="twitter:description" content="${fields.description}">
    <meta property="twitter:title" content="${fields.title} - aaDAC News">
    <meta property="twitter:url" content="${req.headers.origin}/news/${fields.title.trim()}">
    <meta property="twitter:image" content="${req.headers.origin}/${files.cover_photo.originalFilename}">
    
    <!--remember to finish this later-->
    

    <!--resources-->
    <link rel="icon" href="${req.headers.origin}/images/favicon.png" sizes="16x16"/>
    <link rel="stylesheet" href="${req.headers.origin}/styles/css/all.css">
    <link rel="stylesheet" href="${req.headers.origin}/styles/fonts.css"/>
    <link rel="stylesheet" href="${req.headers.origin}/styles/all.css">
    <link rel="stylesheet" href="${req.headers.origin}/styles/news-page.css">
    <script type="text/javascript" src="${req.headers.origin}/node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="${req.headers.origin}/scripts/jquery.js"></script>
    <script src="../index.js"></script>
</head>
<body>
    <div class="body">
        <div class="header flex">
            <button class="larger-size no-bg no-border side-menu-toggle-trigger inline-block" title="menu">
                <span class="fas fa-bars"></span>
            </button>
            <a href="${req.headers.origin}/" class="logo-link logo-in-header-mid">
                <img src="${req.headers.origin}/images/logo.png" alt="aaDAC" class="logo-in-header-mid inline-block"/>
            </a>
        </div>
        <h1>
            ${fields.title}
        </h1>
        <br/>
        <div class="cover-photo">
            <img src="./${files.cover_photo.originalFilename}" alt="Cover Photo"/>
        </div>
        <div class="descriptive-section">
            ${fields.content}
        </div>
        <!--add social media share buttons-->
        <div class="footer pure-black-bg">
            <div class="newsletter-text-cont">
                <h2 class="centered-block-x centered-text text-pure-white-color">
                    Subscribe to Our Newsletter
                </h2>
                <p class="description-paragraph-for-motivator-text centered-block-x centered-text text-pure-white-color">
                    Subscribe to our newsletter to get updates on exclusive art resources, information and stories within our community
                </p>
                <a href="${req.headers.origin}/newsletter" class="block text-pure-white-color pure-black-bg centered-block-x" title="Subscribe to our newsletter">Learn more</a>
            </div>
            <hr style="margin-top:40px;">
            <div class="footer-nav">
                <ul>
                    <li>
                        <a href="${req.headers.origin}" class="text-pure-white-color">Home</a>
                    </li>
                    <li>
                        <a href="${req.headers.origin}/about" class="text-pure-white-color">About us</a>
                    </li>
                    <li>
                        <a href="${req.headers.origin}/contact" class="text-pure-white-color">Contact us</a>
                    </li>
                    <li>
                        <a href="#publications" class="text-pure-white-color">Publications</a>
                    </li>
                    <li>
                        <a href="#advertise" class="text-pure-white-color">Partner & Advertise with us</a>
                    </li>
                </ul>
            </div>
            <br/>
            <div class="centered-last-footer-section">
                <h2 class="text-pure-white-color centered-text centered-block-x">
                    aaDAC
                </h2>
                <br/>
                <div class="horizontally-aligned-social-links centered-text centered-block-x">
                    <a href="https://www.facebook.com/profile.php?id=100086599685407" class="socoal-link-in-footer">
                        <span class="fab fa-facebook text-pure-white-color"></span>
                    </a>
                    <a href="https://instagram.com/aadac95" class="socoal-link-in-footer">
                        <span class="fab fa-instagram text-pure-white-color"></span>
                    </a>
                    <a href="http://twitter.com/@aadacnetwork" class="socoal-link-in-footer">
                        <span class="fab fa-twitter text-pure-white-color"></span>
                    </a>
                </div>
                <br/>
                <div class="horizontally-aligned-social-links centered-text centered-block-x">
                    <a href="https://aadacnetwork.com/policies" class="socoal-link-in-footer text-pure-white-color">
                        Privacy Info |
                    </a>
                    <a href="https://aadacnetwork.com/" class="socoal-link-in-footer text-pure-white-color">
                        aaDACnetwork.com
                    </a>
                </div>
                <br/>
                <p class="text-pure-white-color centered-text small-size">
                    Art / Africa / Diaspora &copy; 2022
                </p>
                <p class="text-pure-white-color centered-text small-size">
                    aaDAC online is published by aaDAC Nonprofit Art Media Limited. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
    <div class="side-menu-outer-cont none">
        <div class="side-menu pure-white-bg">
            <div class="header-in-menu flex">
                <button class="larger-size no-bg no-border side-menu-toggle-trigger inline-block text-pure-white-color pure-black-bg" title="close menu">X</button>
            </div>
            <div class="pop-nav">
                <ul>
                    <li>
                        <a href="${req.headers.origin}">Home</a>
                    </li>
                    <li>
                        <a href="${req.headers.origin}/about">About us</a>
                    </li>
                    <li>
                        <a href="#publications">Publications</a>
                    </li>
                    <li>
                        <a href="${req.headers.origin}/art-residencies-and-opportunities">Art residencies and opportunities</a>
                    </li>
                    <li>
                        <a href="${req.headers.origin}/newsletter">Membership</a>
                    </li>
                    <li>
                        <a href="${req.headers.origin}/contact">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>