iframe {
    margin-top: 50px;
}
.descriptive-section img {
    margin-left: 20px;
    /*remember to add responsive style to this*/
    width: 80vw;
    height: 70vh;
    object-fit: contain;
}
.descriptive-section {
    margin: 0 0 0px;
    padding: 20px 10px;
}
.descriptive-section h2 , h3 , h4{
    margin-top: 30px;
}
.descriptive-section p {
    margin-top: 20px;
}
.descriptive-section li {
    margin-left: 30px;
}
.header {
    border-bottom: 0.6px solid var(--light-grey);
}
h1 {
    margin: 20px 10px 0;
}
.cover-photo {
    height: 70vh;
    width: 90vw;
    margin-left: 20px;
}
.cover-photo img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
blockquote {
    border-left: 5px solid var(--light-grey);
    font-style: italic;
    padding: 13px;
    background: rgb(241, 241, 241);
    margin-top: 40px;
}
table {
    margin-top: 37px;
    padding: 10px;
    border: 2px solid rgb(241, 241, 241);
}
td {
    padding: 5px;
}
tr:nth-child(even) {
    background: rgb(241, 241, 241);
}
figure {
    max-width: 88vw;
    overflow: auto;
}
.descriptive-section a {
    font-style: italic;
    font-weight: bold;
}
figure.image img {
    margin-left: 20px;
    /*remember to add responsive style to this*/
    max-width: 80vw;
    max-height: 70vh;
    object-fit: contain;
}