.header-preceeder {
    background-image: url("../images/aadac cowork.jpg");
}
h1 {
    margin-top: 50px !important;
}
.residence-outer-cont {
    width: 100vw;
    padding: 40px 10px;
}
.section-for-displaying-news {
    height: auto;
    min-height: 300px;
    width: 100%;
    margin: 30px auto;
    border: 2px solid var(--pure-black);
    /*this syle feature is just to show*/
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 2px;
}
.news-card {
    height: 350px;
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--pure-black);
    margin: 4px;
    padding: 4px;
}
.news-card div {
    width: 100%;
    /*border: 1px solid var(--light-grey);*/
    margin: 8px auto;
}
.new-card-image-cont {
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-origin: border-box;
    background-color: var(--light-grey);
}
.text-contents-for-news {
    height: 35%;
    padding: 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-contents-for-news * {
    word-break: break-all;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.text-contents-for-news a:last-child {
    margin-top: 8px;
}

/*responsiveness*/
@media only screen and (min-width:360px) and (max-width:400px) {
    h1 {
        font-size: 7vw !important;
    }
}
@media only screen and (min-width:400px) and (max-width:500px) {
    h1 {
        font-size: 7vw !important;
    }
}
@media only screen and (min-width:500px) and (max-width:600px) {
    h1 {
        font-size: 5.4vw !important;
    }
}
@media only screen and (min-width:600px) and (max-width:800px) {
    h1 {
        font-size: 4.4vw !important;
    }
}
@media only screen and (min-width:400px) and (max-width:600px) {
    .header-preceeder-texts-cont * {
        text-align: center;
        margin: auto;
    }
}
@media only screen and (min-width:600px) {
    .header-preceeder-texts-cont * {
        text-align: center;
        margin: auto;
    }
    .header-preceeder-texts-cont h1 {
        font-size: 3.3vw;
        letter-spacing: 2px;
        word-spacing: 10px;
    }
    h1 {
        margin-top: 70px !important;
    }
}
@media only screen and (min-width:800px) {
    .section-for-displaying-news {
        flex-flow: row wrap;
    }
    .news-card {
        min-width: 340px;
    }
}